extends pageTemplate

block css
    +css(["css/bootstrap/bootstrap.min.css",
          "css/bootstrap/bootstrap-theme.min.css"])

block script
    +script(["js/jquery.min.js",
             "js/bootstrap.min.js"])