form.form-horizontal.form-signin
    h2.form-signin-heading Přihlaste se
    .form-group
        label(for="inputUserNo" class="sr-only") Identifikační číslo
        input(type="text" id="inputUserNo" class="form-control" placeholder="id" required autofocus)
    .form-group
        label(for="inputPin" class="sr-only") Pin
        input(type="text" id="inputPin" class="form-control" placeholder="pin" required)
    .form-group
        button.btn.btn-lg.btn-primary.btn-block(type="submit") Přihlásit