li.dropdown
    a(href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false")
        span.fa.fa-user
        span#admin Admin
        span.caret
    +bsDropdownMenu({url:"#", icon:"fa fa-times", label:"Odhlásit"})