extends template/adminPageTemplate

block content
    .row
        .col-lg-3.col-md-3.col-sm-3: nav.sidebar
            ul.nav.nav-sidebar
                li: .nav-menu
                    ul.nav.nav-sidebar-items
                        li: a(href="create-account")
                            span.fa.fa-user-plus
                            | Vytvořit účet
                        li: a(href="account-list")
                            span.fa.fa-users
                            | Seznam účtů

        .col-lg-9.col-md-9.col-sm-9
            main.main
                if success
                    +dismiss-alert("alert-success", success)
                if err
                    +dismiss-alert("alert-danger", err)
                unless clientData
                    p Chybí údaje o klientovi
                else
                    include ../template/formParts
                    include template/clientDetailFormTemplate