.page-header
    h1: .small Uživatelé
.table-responsive
    table.table.table-striped.table-bordered.table-hover
        thead: tr
            th Číslo účtu
            th Jméno
            th Rodné číslo
        tbody
            tr(onclick="window.location='#click';")
                td
                td Prokop Buben
                td
            tr(onclick="window.location='#click';")
                td
                td Adam Ondra
                td