extends template/pageTemplate

block title
    title R-Bank

block prepend rightNavbar
    include template/defaultNavbarTemplate

block content
    .row
        main.main
            .col-md-12
                if success
                    +dismiss-alert("alert-success", success)
                if err
                    +dismiss-alert("alert-danger", err)
                if logout
                    +dismiss-alert("alert-success", "Byl(a) jste úspěšně odlhášen(a).")
                if error
                    +dismiss-alert("alert-danger", "Neplatné přihlašovací jméno nebo pin.")
                include template/loginFormTemplate