<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation=
               "http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
     http://www.springframework.org/schema/context
     http://www.springframework.org/schema/context/spring-context-4.0.xsd
     http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
     http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd"
>

    <context:annotation-config/>
    <context:component-scan base-package="org.zelenikr.pia.**.**.*"/>

    <!-- Properties -->
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="ignoreUnresolvablePlaceholders" value="true"/>
        <property name="locations">
            <list>
                <value>classpath:META-INF/properties/db.properties</value>
                <value>classpath:META-INF/properties/validation.properties</value>
                <value>classpath:META-INF/properties/verification.properties</value>
            </list>
        </property>
    </bean>

    <!-- JPA and Transactions -->

    <tx:annotation-driven transaction-manager="transactionManager"/>

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${db.connection.driverClassName}"/>
        <property name="url" value="${db.connection.url}"/>
        <property name="username" value="${db.connection.username}"/>
        <property name="password" value="${db.connection.password}"/>
    </bean>

    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean"
          destroy-method="destroy">
        <property name="dataSource" ref="dataSource"/>
        <property name="persistenceXmlLocation" value="classpath:/META-INF/persistence.xml"/>
        <property name="jpaVendorAdapter" ref="hibernateVendorAdapter"/>
        <property name="packagesToScan" value="org.zelenikr.pia.**.domain"/>
        <property name="persistenceUnitName" value="org.zelenikr.pia"/>
    </bean>

    <bean id="hibernateVendorAdapter" class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"/>

    <!-- Transaction manager for a single EntityManagerFactory (alternative to JTA) -->
    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>

    <!-- Security -->

    <security:http authentication-manager-ref="authManager">
        <security:form-login
                login-page="/login"
                authentication-success-handler-ref="authSuccessHandler"/>

        <security:intercept-url pattern="*" access="permitAll"/>
        <security:intercept-url pattern="/client" access="hasRole('ROLE_CLIENT')"/>
        <security:intercept-url pattern="/client/*" access="hasRole('ROLE_CLIENT')"/>
        <security:intercept-url pattern="/admin" access="hasRole('ROLE_ADMIN')"/>
        <security:intercept-url pattern="/admin/*" access="hasRole('ROLE_ADMIN')"/>
        <security:intercept-url pattern="/view/*" access="denyAll"/>
        <security:intercept-url pattern="/controller/*" access="denyAll"/>
        <security:csrf disabled="true"></security:csrf>
    </security:http>

    <security:authentication-manager id="authManager">
        <!-- use UserDaoJpa as user data provider-->
        <security:authentication-provider user-service-ref="userDaoJpa">
            <!-- use PasswordHashEncoder as password encoder -->
            <security:password-encoder ref="passwordHashEncoder"/>
        </security:authentication-provider>
    </security:authentication-manager>

    <security:global-method-security pre-post-annotations="enabled"/>

    <bean id="authSuccessListener" class="org.zelenikr.pia.web.auth.AuthenticationSuccessListener"/>
    <bean id="authSuccessHandler" class="org.zelenikr.pia.web.auth.DefaultAuthenticationSuccessHandler"/>

    <!-- Jade template -->

    <bean id="jadeFileLoader" class="org.zelenikr.pia.web.template.jade.JadeFileLoader">
        <property name="basePath" value="/WEB-INF/jade/"/>
    </bean>

    <bean id="jadeConfiguration" class="de.neuland.jade4j.JadeConfiguration">
        <property name="templateLoader" ref="jadeFileLoader"/>
        <property name="prettyPrint" value="true"/>
        <property name="caching" value="true"/>
    </bean>

    <bean id="templateRender" class="org.zelenikr.pia.web.template.jade.JadeRender">
        <constructor-arg name="configuration" ref="jadeConfiguration"/>
    </bean>

    <!-- Bank codes -->

    <bean id="rbankBankCode" class="org.zelenikr.pia.bankcode.BankCode">
        <constructor-arg name="bankName" value="PIA R-Bank"/>
        <constructor-arg name="code" value="6666"/>
    </bean>

    <bean id="csvLoader" class="org.zelenikr.pia.utils.WebCSVLoader"></bean>

    <bean id="bankCodeManager" class="org.zelenikr.pia.bankcode.CSVBankCodeManager">
        <constructor-arg name="loader" ref="csvLoader"/>
        <constructor-arg name="localBankCode" ref="rbankBankCode"/>
        <constructor-arg name="source"
                         value="https://www.cnb.cz/cs/platebni_styk/ucty_kody_bank/download/kody_bank_CR.csv"/>
    </bean>

    <!-- Exchange rate list -->

    <bean id="exchangeRateLoader" class="org.zelenikr.pia.exchange.cnb.WebCNBExchangeRateLoader"/>

    <bean id="exchangeRateManager" class="org.zelenikr.pia.exchange.cnb.CNBExchangeRateManager">
        <constructor-arg name="loader" ref="exchangeRateLoader"/>
        <constructor-arg name="source"
                         value="https://www.cnb.cz/cs/financni_trhy/devizovy_trh/kurzy_devizoveho_trhu/denni_kurz.txt"/>
    </bean>

    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="smtp.gmail.com"/>
        <property name="port" value="587"/>
        <property name="username" value="rbank.pia.kiv"/>
        <property name="password" value="zelenikr1234"/>

        <property name="javaMailProperties">
            <props>
                <prop key="mail.smtp.auth">true</prop>
                <prop key="mail.smtp.starttls.enable">true</prop>
                <prop key="mail.smtp.ssl.trust">smtp.gmail.com</prop>
            </props>
        </property>
    </bean>

    <bean id="emailSender" class="org.zelenikr.pia.utils.DefaultEmailSender">
        <constructor-arg name="mailSender" ref="mailSender"/>
    </bean>

</beans>
