extends template/clientPageTemplate

include template/formParts

block title
    title Platební příkaz - R-Bank

block content
    .row
        .col-lg-3.col-md-3.col-sm-3
            +menu(2, "paymentOrder")

        .col-lg-9.col-md-9.col-sm-9
            main.main
                if success
                    +dismiss-alert("alert-success", success)
                if warning
                    +dismiss-alert("alert-warning", warning)
                if err
                    +dismiss-alert("alert-danger", err)

                .page-header: h1: small Jednorázový příkaz
                form.form-horizontal.form(method="post" autocomplete="off")
                    span.help-block#helpText
                        span.required-input
                        | Povinná položka
                    if preparedTransaction
                        +paymentOrderFromTransaction(true, bankAccounts, bankCodes, currencies, preparedTransaction)
                    else
                        +paymentOrder(true, inputDate, selectAccount, bankAccounts, inputOffset, inputBankCode, bankCodes,
                        inputAmount, selectCurrency, currencies, inputConstSymbol, inputVarSymbol, inputSpecSymbol, inputMessage)
                    .form-group
                        .col-sm-offset-5.col-sm-7
                            input(type="hidden" name="action" value="pay")
                            button.btn.btn-primary.btn-block(type="submit") Zaplatit