body {
    padding-top: 50px;
    background-color: #eff;
}

.form, .form-signin {
    max-width: 460px;
    padding: 15px;
    margin: 0 auto
}

.form-signin {
    max-width: 330px;
}

.form-signin-heading {
    text-align: center;
}

.sidebar {
    position: fixed;
    top: 50px;
    bottom: 0;
    display: block;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
    padding: 20px 5px 0 5px;
}

.main {
    margin-left: 20px;
    padding: 0 0 60px 0;
}

.nav-sidebar {
    margin-bottom: 60px;
}

.nav-sidebar .active > a, .nav-sidebar .active > a:hover, .nav-sidebar .active > a:focus {
    color: #fff;
    /*background-color: #428bca;*/
    background-color: #3c3c3c;
}

.nav-sidebar .nav-menu {
    padding: 10px 20px;
}

.nav-sidebar-items li {
    padding-left: 10px;
}

.navbar-brand {
    text-shadow: none;
}

.navbar-fixed-top {
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

.navbar-text {
    margin-left: 15px;
}

.nav-menu[data-toggle="collapse"]:before {
    font-family: "FontAwesome";
    padding-right: 0.5em;
    content: '\f0a9';
}

.nav-menu[data-toggle="collapse"].collapsed:before {
    content: '\f0ab';
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #9d9d9d;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-image: -webkit-linear-gradient(top, #3c3c3c 0%, #222222 100%);
    background-image: -o-linear-gradient(top, #3c3c3c 0%, #222222 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#3c3c3c), to(#222222));
    background-image: linear-gradient(to bottom, #3c3c3c 0%, #222222 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff222222', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    border-radius: 4px 4px 0 0;
}

.footer > .container {
    padding: 0 15px;
}

.container .text-muted {
    margin: 20px 0;
}

.text-muted {
    color: #9d9d9d;
}

span.caret {
    margin-left: 0.5em;
}

span.fa {
    padding-right: 0.5em;
}

.table > thead > tr > th {
    vertical-align: middle;
    /*text-align: center;*/
}

.table-row-striped > tbody tr:nth-child(4n+1), .table-row-striped > tbody tr:nth-child(4n+2) {
    background-color: #f5f5f5;
}