body {
    padding-top: 50px;
}

html, body {
    height: 100%;
}

#wrapper {
    min-height: 100%;
    position: relative;
}

#wrapper > .container {
    padding-bottom: 60px;
}

.form, .form-signin {
    max-width: 460px;
    /*padding: 15px;*/
    /*margin: 0 auto*/
}

.form-signin {
    padding: 15px;
    margin: 0 auto;
    max-width: 330px;
}

.form-signin input {
    text-align: center;
}

.form-signin-heading {
    text-align: center;
}

.sidebar {
    position: fixed;
    top: 50px;
    bottom: 0;
    display: block;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
    padding: 20px 5px 0 5px;
}

.main {
    margin-left: 20px;
}

.nav-sidebar {
    margin-bottom: 60px;
}

.nav-sidebar li a:hover, .nav-sidebar li a:hover:focus {
    color: #fff;
    background-color: #222;
}

.nav-sidebar li a:focus {
    color: inherit;
    background-color: inherit;
}

.nav-sidebar-items .active > a {
    color: #fff;
    /*background-color: #428bca;*/
    background-color: #3c3c3c;
}

.nav-sidebar-items li a:hover, .nav-sidebar-items li a:focus,
.nav-sidebar-items .active > a:hover, .nav-sidebar-items .active > a:focus {
    color: #fff;
    background-color: #222;
 }

.nav-sidebar .nav-menu {
    padding: 10px 20px;
}

.nav-sidebar-items li {
    padding-left: 10px;
}

.navbar-brand {
    text-shadow: none;
}

.navbar-fixed-top {
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

.navbar-text {
    margin-left: 15px;
}

.nav-menu[data-toggle="collapse"]:before {
    font-family: "FontAwesome";
    padding-right: 0.5em;
    content: '\f0a9';
}

.nav-menu[data-toggle="collapse"].collapsed:before {
    content: '\f0ab';
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-image: -webkit-linear-gradient(top, #3c3c3c 0%, #222222 100%);
    background-image: -o-linear-gradient(top, #3c3c3c 0%, #222222 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#3c3c3c), to(#222222));
    background-image: linear-gradient(to bottom, #3c3c3c 0%, #222222 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff222222', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    border-radius: 4px 4px 0 0;
}

.footer, .footer a {
    color: #ddd;
}

.footer a:hover {
    color: #fff;
}

.footer > .container {
    padding: 15px 15px 15px 0;
}

.footer .list-inline > li {
    vertical-align: text-top;
}

span.caret {
    margin-left: 0.5em;
}

span.fa {
    padding-right: 0.5em;
}

span.fa-only {
    padding-right: 0;
}

.table > thead > tr > th {
    vertical-align: middle;
    /*text-align: center;*/
}

.table-row-striped > tbody tr:nth-child(4n+1), .table-row-striped > tbody tr:nth-child(4n+2) {
    background-color: #f5f5f5;
}

/*.form .form-group:has(input.form-control:required)::before {*/
    /*font-family: "FontAwesome";*/
    /*padding-left: 0.5em;*/
    /*color: darkred;*/
    /*content: '\f069';*/
/*}*/


.form .required-input::after {
    font-family: "FontAwesome";
    font-size: 50%;
    vertical-align: top;
    padding-left: 0.5em;
    color: red;
    content: '\f069';
}

.form .help-block .required-input {
    padding-left: 0;
    padding-right: 0.5em;
}

.panel-footer .label-date {
    display: inline-block;
    vertical-align: middle;
    line-height: 1em;
}

.main .well {
    padding-bottom: 20px;
}

table > tbody > tr:hover {
    /*color: inherit;*/
    /*text-decoration: underline;*/
}