body {
    padding-top: 50px;
    background-color: #eff;
}

.form, .form-signin {
    max-width: 460px;
    padding: 15px;
    margin: 0 auto
}

.form-signin {
    max-width: 330px;
}

.form-signin-heading {
    text-align: center;
}

.sidebar{
    position:fixed;
    top: 50px;
    bottom: 0;
    display: block;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
    padding: 20px;
}

.main{
    padding: 20px;
}

.nav-sidebar{
    margin-bottom: 20px;
}

.nav-sidebar .active > a, .nav-sidebar .active > a:hover, .nav-sidebar .active > a:focus {
    color: #fff;
    background-color: #428bca;
}

.nav-sidebar-items li {
    padding-left: 10px;
}

.navbar-brand {
    text-shadow: none;
}