if displayName && authenticationTimeout
    p.navbar-text
        | bezpečnostní limit
        span#userAuthTimeout
li
    a(href=displayNameUrl)
        span.fa.fa-user
        if displayName
            |#{displayName}
        else
            |Přihlásit