mixin css(paths)
    each item in paths
        link(rel="stylesheet" type="text/css" href=item)

mixin script(paths)
    each item in paths
        script(type="text/javascript" src=item)

mixin dismiss-alert(type, msg)
    .alert.alert-dismissable.fade.in(class=type role="alert")
        button.close(type="button" data-dismiss="alert" aria-label="Zavřít")
            span(aria-hidden) &times;
        |#{msg}

doctype html
html(lang="cs")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width initial-scale=1")
        block css
            - var path = "/r-bank/css/"
            - var classes = [path+"bootstrap.min.css", path+"bootstrap-theme.min.css", path+"font-awesome.min.css", path+"style.css"]
            +css(classes)
        block title

    body
        #wrapper
            // HEADER
            header#navbar.navbar.navbar-fixed-top.navbar-default
                nav.container
                    .navbar-header
                        button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-navbar-collapse")
                            each i in [1,2,3]
                                span.icon-bar
                        a(class="navbar-brand" href="home")
                            span.fa.fa-building
                            |R-bank

                    .collapse.navbar-collapse#header-navbar-collapse
                        ul.nav.navbar-nav
                            block leftNavbar

                        ul.nav.navbar-nav.navbar-right
                            block rightNavbar


            // CONTENT
            .container
                block content

            // FOOTER
            footer.footer
                .container
                    block footer
                        .text-center
                            ul.list-inline.top
                                li
                                    span.fa.fa-copyright
                                    |R-Bank 2016
                                li: a(href="#") Kontakty
                                li
                                    span(data-toggle="tooltip" data-placement="top" title="Infolinka")
                                        span.fa.fa-phone
                                        |800 111 111
                                //-li: a(href="#") Seznam poboček
                                //-li: address.text-left
                                    strong R-Bank, a. s.
                                    br
                                    |   Radlická 333/150
                                    br
                                    |   150 57 Praha 5
                                    br
                                    abbr(title='Telefon') Tel.:
                                    |  +420 211 111 111

        block script
            - var path = "/r-bank/js/"
            - var scripts = [path+"jquery.min.js", path+"bootstrap.min.js", path+"script.js"]
            +script(scripts)