.page-header: h1: small Nový účet
form.form-horizontal.form(method="post" autocomplete="on")
    span.help-block#helpText
        span.required-input
        | Povinná položka

    fieldset
        legend.form-signin-heading Osobní údaje
        +personalInfo(inputName, inputSurname, inputPersonalNo)

    fieldset
        legend.form-signin-heading Kontaktní údaje
        +contactInfo(inputStreet, inputBuildNo, inputCity, inputZipCode, inputEmail, inputPhoneNumber)

    fieldset
        legend.form-signin-heading Bankovní účet
        +bankAccount(inputCardNo, inputCardPinNo, inputBankAccountNo, selectCurrency, currencies)

    fieldset
        legend
        .form-group
            .checkbox.col-sm-offset-5.col-sm-7
                label.required-input
                    input(name="robotCheck" type='checkbox' required)
                    |Nejsem robot
        .form-group
            .col-sm-offset-5.col-sm-7
                button.btn.btn-primary.btn-block(type="submit") Odeslat